* {
  box-sizing: border-box;
  margin: 0; }

h1, h2 {
  font-family: 'Quattrocento', serif; }

body {
  width: 100%;
  color: #2c045c;
  font-size: 16px;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #f0fafd; }

header {
  background-color: #47BDE4; }
  header h1 {
    color: #4F07A5;
    padding: 0.25em; }
  header ul {
    padding: 0; }
    header ul li {
      width: 25%;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 0.5em; }

section {
  padding: 1em 0.75em; }
  section h1 {
    padding: .25em 0 .5em;
    font-size: 1.5em;
    color: #8BC700; }
  section p {
    padding: 0.25em;
    line-height: 1.5em; }
  section a {
    color: #4F07A5; }
  section a:visited {
    color: #446100; }

.project {
  padding: 1em; }
  .project h2 {
    padding: 0.25em 0;
    font-size: 1.25em; }
  .project img {
    width: 100%;
    padding: 0 10%; }
  .project p {
    padding-left: 15%; }

footer {
  background-color: #47BDE4; }
  footer nav {
    padding: 1em 0; }
    footer nav li {
      display: inline-block;
      border-left: 1px solid #1987ac;
      padding: 0 0.5em; }
    footer nav a {
      text-decoration: none; }

.contact-button {
  display: block;
  text-align: center;
  font: 1.25em 'Quattrocento', serif;
  padding: 0.25em;
  margin: 3% 20%;
  width: 60%;
  background-color: #8BC700;
  color: #4F07A5;
  text-decoration: none;
  border-radius: 2px; }

.contact-button:visited {
  color: #4F07A5; }

.social-media {
  display: inline-block;
  vertical-align: middle;
  padding: 16px;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background-color: #8BC700;
  margin: 0.25em; }

@media screen and (min-width: 500px) {
  body {
    font-size: 22px; } }

@media screen and (min-width: 750px) {
  section {
    max-width: 750px;
    margin: auto; } }

@media screen and (min-width: 1900px) {
  body {
    font-size: 28px; } }
